.rowContainer{
  padding: 10px;
  padding-bottom: 0;
  border-radius: 10px;
  border: 1px solid #ddd;
  background-color: #bbb;
  overflow: hidden;
}
.buttonsContainer{
  padding: 0;
  display: flex;
  width: auto;
  margin-left:  -1.5rem;
  margin-right: -1.5rem;
}
.windowChanger{
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-top: 1px solid #ddd;
  border-right: 1px solid #ddd;
  margin-top: 15px;
  background: green;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
}
.register{
  border-right: none;
  background-color: red;
}
.button{
  margin-top: 15px;
}