.rowContainer{
  padding: 10px;
  padding-bottom: 0;
  border-radius: 10px;
  border: 1px solid var(--borderLightColor);
  overflow: hidden;
}
.buttonsContainer{
  padding: 0;
  display: flex;
  width: auto;
  margin-left:  -1.5rem;
  margin-right: -1.5rem;
  margin-top: 1rem;
}
.activeButton{
  background-color: #fff;
  color: var(--firstColor);
  text-align: center;
  border: 1px solid transparent;
  line-height: 2rem;
  cursor: default;
}
.tabButton{
  background-color: var(--firstColor);
  color: #fff;
  text-align: center;
  cursor: pointer;
  line-height: 2rem;
  transition: var(--transitionTime);
}
.tabButton:hover{
  background-color: #fff;
  color: var(--firstColor);
}