.product_miniature{
  border: 1px solid var(--borderLightColor);
  border-radius: var(--borderRadius);
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.name{
  font-size: 1rem;
  line-height: 1.1rem;
  min-height: 2.4rem;
  text-overflow: ellipsis;
}
.linkContainer{
  text-decoration: none;
  padding: 20px 10px;
  width: 100%;
  color: var(--firstColor) !important;
  transition: var(--transitionTime);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
.linkContainer:hover{
  filter: var(--hoverEffect);
}
.index{
    color: var(--firstColorDark);
    font-size: .8rem;
    line-height: 1rem;
}
.price{
  font-size: .9rem;
  line-height: 1.1rem;
}