:root {
    --firstColor: #000a75;
    --firstColorDark: #000520;
    --secondColor: #ffbfd1;
    --thirdColor: #ffbfd1;
    --hoverEffect: brightness(180%);
    --transitionTime: .5s all ease;
    --appMidPadding: 0.25rem .5rem;
    --borderLightColor: rgba(0, 0, 0, 0.175);
    --navbarBackground: rgb(248,249,250);
    --borderRadius: 5px;
}


[data-theme="dark"] {
    --first-color: #240060;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
}
.row {
    width: 100%;
}
.white-text {
    color: #fff;
}
.no-underline {
    text-decoration: none;
}
.first-color {
    color: var(--firstColor) !important;
}
.btn-primary{
    background-color: var(--firstColor);
    border-color: var(--firstColor) !important;
    transition: var(--transitionTime);
}
.btn-primary:active,
.btn-primary:hover{
    background-color: #fff !important;
    color: var(--firstColor) !important;
}